@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
.changepasswordcontainer
{
   padding-left:auto;
   padding-right: auto;

    margin-top: 6%;
    margin-bottom: 6%;
    
    width:550px;

    display: block;
    
    
}
.changepassbtn
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.myformborder
{
    border-radius: 10px;
    border-style: transparent;
    background-color: white;
}

@media only screen and (max-width: 650px) {
    .changepasswordcontainer
    {
        width:350px;
    }
}