.changepasswordcontainer
{
   padding-left:auto;
   padding-right: auto;

    margin-top: 10%;
    margin-bottom: 15%;
    
    width:550px;

    display: block;
}

@media only screen and (max-width: 650px) {
    .changepasswordcontainer
    {
        width:350px;
    }
}